.content__top {
    padding: 25px 0;
    justify-content: space-between;
}

.content__page_name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-dark);
}

.content__your_account {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.content_your_account img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.text {
    text-align: right;
    margin-right: 10px;
    line-height: 20px;
    color: var(--color-dark-variant);
}

.yourname {
    font-weight: 600;
    color: black;
}